.list-group-item:hover{
	background: #dedede;

}

.list-group{
	padding-top: 10px;
}

.cross:hover {
	font-size: 1.2em;
	color: #8B0000;
}

.cross {
	color: red;
}

.removeAll {
	margin-left: 75%;
}

